Repository toomuchdesign/re-reselect: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm t

Extract cacheSize param validation to standalone utility
  src/cache/FifoCacheObject.js
  src/cache/FifoMapCacheObject.js
  src/cache/LruCacheObject.js
  src/cache/__tests__/FifoCacheObject.spec.js
  src/cache/__tests__/FifoMapCacheObject.spec.js
  src/cache/__tests__/LruCacheObject.spec.js
  src/cache/util/__tests__/validateCacheSize.js
  src/cache/util/validateCacheSize.js
Due: npm run prettier, npm t

Add Github issues/pr templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Due: none

fix typings for cache key; bump typescript version
  package-lock.json
  package.json
  src/index.d.ts
  typescript_test/cache.ts
  typescript_test/test.ts
Due: none

Refactor cacheObjects and cacheKey validation
  src/__tests__/index.spec.js
  src/cache/FifoCacheObject.js
  src/cache/FifoMapCacheObject.js
  src/cache/FlatCacheObject.js
  src/cache/FlatMapCacheObject.js
  src/cache/LruCacheObject.js
  src/cache/__tests__/FifoCacheObject.spec.js
  src/cache/__tests__/LruCacheObject.spec.js
  src/index.d.ts
  src/index.js
Due: npm run prettier, npm t

Reduce duplicated code in tests
  package.json
  src/cache/__tests__/FifoCacheObject.spec.js
  src/cache/__tests__/FifoMapCacheObject.spec.js
  src/cache/__tests__/FlatCacheObject.spec.js
  src/cache/__tests__/FlatMapCacheObject.spec.js
  src/cache/__tests__/LruCacheObject.spec.js
  src/cache/__util__/fillCacheWith.js
  src/cache/__util__/testBasicBehavior.js
  src/cache/__util__/testFifoBehavior.js
  src/cache/__util__/testLruBehavior.js
  src/cache/util/validateCacheSize.js
  src/index.js
Due: npm run prettier, npm t

Move cacheSize validation tests into reusable function
  src/cache/__tests__/FifoCacheObject.spec.js
  src/cache/__tests__/FifoMapCacheObject.spec.js
  src/cache/__tests__/LruCacheObject.spec.js
  src/cache/__util__/testCacheSizeValidation.js
  src/cache/__util__/testFifoBehavior.js
  src/cache/__util__/testLruBehavior.js
  src/cache/util/__tests__/validateCacheSize.js
Due: npm run prettier, npm t

Move cache object cacheKey tests into reusable functions
  src/cache/FifoCacheObject.js
  src/cache/FlatCacheObject.js
  src/cache/LruCacheObject.js
  src/cache/__tests__/FifoCacheObject.spec.js
  src/cache/__tests__/FifoMapCacheObject.spec.js
  src/cache/__tests__/FlatCacheObject.spec.js
  src/cache/__tests__/FlatMapCacheObject.spec.js
  src/cache/__tests__/LruCacheObject.spec.js
  src/cache/__util__/testCacheSizeOptionValidation.js
  src/cache/__util__/testMapCacheKeyBehavior.js
  src/cache/__util__/testObjectCacheKeyBehavior.js
  src/cache/util/isStringOrNumber.js
Due: npm run prettier, npm t

Add LruMapCacheObject
  src/cache/LruMapCacheObject.js
  src/cache/__tests__/LruMapCacheObject.spec.js
  src/index.d.ts
  typescript_test/cache.ts
Due: npm run prettier, npm t

Fix isValidCacheKey TS typings
  src/index.d.ts
Due: none

define isValidCacheKey in ICacheObject
  src/index.d.ts
Due: none

Use double quotes in error messages
  src/cache/util/validateCacheSize.js
Due: npm run prettier, npm t

Remove options as a function backward compatibility
  src/__tests__/index.spec.js
  src/index.js
Due: npm run prettier, npm t

Update changelog
  CHANGELOG.md
Due: none

Rename cache objects
  src/__tests__/index.spec.js
  src/cache/FifoMapCache.js
  src/cache/FifoObjectCache.js
  src/cache/FlatMapCache.js
  src/cache/FlatObjectCache.js
  src/cache/LruMapCache.js
  src/cache/LruObjectCache.js
  src/cache/__tests__/FifoMapCache.spec.js
  src/cache/__tests__/FifoObjectCache.spec.js
  src/cache/__tests__/FlatMapCache.spec.js
  src/cache/__tests__/FlatObjectCache.spec.js
  src/cache/__tests__/LruMapCache.spec.js
  src/cache/__tests__/LruObjectCache.spec.js
  src/index.d.ts
  src/index.js
  typescript_test/cache.ts
Due: npm run prettier, npm t

Add package.json browser field
  package.json
Due: none

Update Rollup.js
  package-lock.json
  package.json
  rollup.config.js
Due: npm run prettier

Prettify .md and .ts files
  .lintstagedrc
  CHANGELOG.md
  README.md
  examples/1-join-selectors.md
  examples/2-avoid-selector-factories.md
  examples/3-cache-api-calls.md
  package-lock.json
  package.json
  src/__tests__/index.spec.js
  src/index.d.ts
  typescript_test/cache.ts
  typescript_test/test.ts
Due: npm run prettier, npm t

Export deprecated cache objects
  src/cache/__tests__/deprecated/FifoCacheObject.js
  src/cache/__tests__/deprecated/FlatCacheObject.js
  src/cache/__tests__/deprecated/LruCacheObject.js
  src/index.js
Due: npm run prettier, npm t

Install NPM on Travis build only when necessary
  .travis.yml
Due: none

Configure Prettier via config file
  .gitignore
  .prettierrc
  README.md
  examples/2-avoid-selector-factories.md
  package.json
Due: none

Update docs
  .all-contributorsrc
  CHANGELOG.md
  README.md
Due: none

Add FlatMapCacheObject cache
  src/cache/FlatMapCacheObject.js
  src/cache/__tests__/FlatMapCacheObject.spec.js
  src/index.d.ts
  typescript_test/cache.ts
Due: npm run prettier, npm t

Add FifoMapCacheObject cache
  src/cache/FifoMapCacheObject.js
  src/cache/__tests__/FifoMapCacheObject.spec.js
  src/index.d.ts
  typescript_test/cache.ts
Due: npm run prettier, npm t

Invert npm test commands execution
  package.json
Due: none

Better document/test selector's cacheKey type check
  src/__tests__/index.spec.js
  src/index.js
Due: npm run prettier, npm t

Allow cacheObject to declare a custom cache key validator function
  src/__tests__/index.spec.js
  src/index.js
Due: npm run prettier, npm t

Path conditions:
  npm run prettier: (any of: src/**/*.js) or (any of: *.js)
  npm t: any of: src/**/*.js
